*{
    margin: 0;
    padding: 0;
}
.header{
    position: fixed;
    background-color: #303030;
    color: white;
    font-size: 20px;
    width: 100%;
    height: 80px;
    opacity: 0.8;
}
.header > .header_title{
    display: inline-block;
    margin-left: 200px;
    line-height: 80px;
}
.header > .header_menu{
    line-height: 80px;
    display: inline-block;
    float: right;
    margin-right:200px;
}
.header > .header_menu > .header_menu_about{
    margin-right: 50px;
}
.body_about {
    padding-top: 100px;
}
.body_about > .body_about_main > .body_about_section1 {
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.body_about > .body_about_main > .body_about_section1 > .google_img{
    padding-top: 10px;
    width: 300px;
    height: 250px;
}
.body_about > .body_about_main > .body_about_section1 > .body_about_section1_ment{
    display: inline-block;
}